body {
    margin: 0;
    padding: 0;

    min-width: 1200px;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}

.main-header {
    margin: 0;
    background-color: #eeeeee;
        outline: 1px solid green;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    padding-top: 49px;
    padding-right: 20px;
        outline: 1px solid red;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
    list-style: none;
        outline: 1px solid red;
}

.site-navigation a {
    display: block;
    margin-right: 0;
    padding-top: 75px;
}

.site-navigation .basket {
    width: 120px;
    margin-left: 250px;
        outline: 1px solid black;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.site-navigation-current{
    border-bottom: 2px solid #fb565a;
}

.slider {
    background-color: #eeeeee;
    padding-top: 80px;
    padding-bottom: 80px;
        outline: 1px solid red;
}

.slider-list {
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
        outline: 1px solid green;
}

.slider-item b {
    display: block;
    margin-bottom: 25px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-item div {
    margin-bottom: 37px;
}

.button-slider {
    padding: 15px 55px;
}

.title-catalog {
    margin-bottom: 60px;
    padding-top: 70px;
    padding-bottom: 105px;
    background-color: #eeeeee;
}

.title-catalog h1{
    margin: 0;
    font-size: 55px;
    line-height: 66px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.catalog-services {
    margin-bottom: 82px;
    padding-top: 253px;
        outline: 1px solid blue;
}

.catalog-services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-services-item {
    width: 360px;
}

.catalog-services-item h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-services-item p {
    width: 260px;
    margin-bottom: 30px;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
}

.about {
    margin-bottom: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
        outline: 1px solid red;
}

.about-left {
    width: 660px;
    padding-top: 75px;

}

.about-left b {
    display: inline-block;
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-left p {
    margin: 0;
    margin-bottom: 40px;
        outline: 1px solid red;
}

.about-left .about-title {
    margin-bottom: 10px;
        outline: 1px solid blue;
}

.about-left .about-title,
.info caption {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
        outline: 1px solid yellow;
}

.services {
    margin: 0;
    padding: 0;
    list-style: none;
        outline: 1px solid blue;
}

.services li {
    padding: 12px 35px;
}

.about-right {
    width: 360px;
}

/* .about-right {
    background-image:url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: top;
} */

.info {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.info caption {
    padding-bottom: 35px;
}

.info tr {
        outline: 1px solid blue;
}

.info td {
    padding: 3px 0px;
    padding-right: 15px;
    font-size: 45px;
    line-height: 54px;
    font-weight: 700;
    color: #000000;    
}

.info th {
    padding: 13px 0;
    padding-right: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.partners {
    margin-bottom: 80px;
}

.partners-list {
    min-height: 180px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.partners-list a {
    width: 260px;
    height: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
}

.partners-list a:active {
    opacity: 0.1;
}

.contacts {
    width: 1200px;
    height: 415px;
    margin-bottom: 70px;
    position: relative;
}

.address {
    width: 220px;
    min-height: 210px;
    padding: 50px 50px;
    
    position: absolute;
    top: 55px;
    left: 30px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
        outline: 1px solid red;
}

.address b {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.address p {
    margin-bottom: 0;
    line-height: 18px;
    color: #666666;
}

.address .phone {
    margin-bottom: 35px;
}

.address a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
    color: #666666;
}

.left-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.filters {
    width: 260px;
    padding-right: 20px;
        outline: 1px solid red;
}

.filters .filter-iteams {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    border: none;
        outline: 1px solid black;
}

.filter-iteams legend {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 35px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters input[type="text"] {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;    
    color: #283136;
    background-color: #eeeeee;
}

.filter-input:hover + lebel,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:active + label {
    color: rgba(40,49,54,0.3); 
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    color: #283136;
}

.filters li {
    margin-bottom: 20px;
}

.filters .filter-iteams:nth-child(3),
.filters .filter-iteams:nth-child(4) {
    margin-bottom: 30px;
}

.button-filters {
    background-color: #eeeeee;
    color: #000000;
}

.button-filters:hover,
.button-filters:focus {
    background-color: #dfdfdf;
}

.button-filters:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
}

.rigth-columns {
    width: 760px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.sort {
    margin-bottom: 95px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
        outline: 1px solid yellow;
}

.sort h2 {
    margin: 0;
    margin-right: 265px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sort-list {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sort-list a {
    padding-right: 25px;
    display: inline-block;
    opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
    opacity: 0.6;
}

.sort-list .sort-iteam-current,
.sort-list a:active {
    opacity: 1;
}

.catalog-templates-list {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.catalog-templates-list li {
    width: 360px;
    margin-bottom: 33px;
}

.catalog-templates-list h3 {
    margin: 0;
    margin-bottom: 15px;
    
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-templates-list p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.move-grey {
    background: #eeeeee;
        outline: 1px solid black;
}

.move-grey .button {
    padding-left: 60px;
    padding-left: 60px;
    color: #ffffff;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.pagination-item a {
    margin-right: 10px;
    padding: 18px 25px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: #eeeeee;
    color: #000000;
    text-transform: uppercase;
}

.pagination-item:last-child a {
    padding-left: 80px;
    padding-right: 80px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;   
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-social-list {
    width: 260px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
        outline: 1px solid red;
}

.social-button {
    width: 80px;
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background-color: #e1e1e1;
}

.footer-rigth {
    padding-top: 10px;
    width: 760px;
    outline: 1px solid red;
}

.main-footer b {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;  
}

.main-footer p {
    margin: 0;
    color: #444444;
}

.modal-write {
    width: 760px;
    height: 420px;
    padding: 85px 100px;
    
    display: none;
    
    position: fixed;
    top: 10%;
    left: 10%;
    
    background-color: #ffffff;
        outline: 1px solid grey;
}

.modal-write h2 {
    margin: 0;
    
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color: #000000;    
}

.write-form label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

/* стилизация placeholder */
.write-form input::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form input::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form input:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form textarea::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}

.write-form input:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form input:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form input:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form textarea:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea {
    padding: 15px 15px;
    box-sizing: border-box;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
    border: 2px solid #d7dcde;
}

.write-form input[type="text"]:hover,
.write-form input[type="email"]:hover,
.write-form textarea:hover {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
    border: 2px solid #b4b9bb;
}

.write-form input[type="text"]:focus,
.write-form input[type="email"]:focus,
.write-form textarea:focus {
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #000000;
}

.button-modal-close {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ffffff;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.button-modal-close:hover,
.button-modal-close:focus {
    outline: none;
    opacity: 1;
}

.button-modal-close:active {
    opacity: 0.1;
}

