body {
    margin: 0;
    padding: 0;

    min-width: 1200px;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: block;
    
    width: 160px;
    margin: 0;
    padding: 16px 0px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
    outline: 0;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 #c13135;
}

.main-header {
    margin: 0;
    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    padding: 0;
    padding-top: 49px;
    padding-right: 20px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
    outline: 0;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    width: 800px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    

    list-style: none;
}

.site-navigation li:nth-child(1) {
    margin-right: 45px;
}

.site-navigation li:nth-child(2) {
    margin-right: 49px;
}

.site-navigation li:nth-child(3) {
    margin-right: 45px;
}

.site-navigation li:nth-child(4) {
    margin-right: auto;
}

.site-navigation a {
    display: block;
    padding: 0;
    padding-top: 75px;
    padding-bottom: 2px;
}

.site-navigation .basket {
    width: 76px;
    padding-left: 44px;
    
    position: relative;
}

.site-navigation .basket::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 82px;
    left: 4px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #fb565a;
    outline: 0;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.site-navigation-current{
    border-bottom: 2px solid #fb565a;
}

/* slider */

.slider {
    margin: 0;
    margin-bottom: 80px;
    position: relative;
    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 103px;
    z-index: 100;
  
    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
  
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
  
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
     
    width: 18px;
    height: 18px;
  
    background: #ffffff;
  
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 17px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
     
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 39px;
}

.slider-button {
    width: 240px;
    padding: 16px 0; 
}

.catalog-services {
    position: relative;
}

.catalog-services::after {
    content: "";
    
    width: 1160px;
    height: 2px;

    position: absolute;
    background-color: #eeeeee;
    top: 428px;
}

.title-catalog {
    margin-bottom: 60px;
    padding-top: 72px;
    padding-bottom: 102px;
    background-color: #eeeeee;
}

.title-catalog h1{
    margin: 0;
    font-size: 55px;
    line-height: 66px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.catalog-services {
    margin-bottom: 80px;
    padding-top: 172px;
}

.catalog-services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.catalog-services-item {
    width: 360px;
}

.catalog-services-item h3 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-services-item {
    position: relative;
}

.catalog-services-item img {
    position: absolute;
    top: -170px;
}

.catalog-services-item p {
    width: 260px;
    margin: 0;
    margin-bottom: 33px;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 #009958;    
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 0 0 #ce961f;
}

.about {
    margin-bottom: 61px;
    
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.about::after {
    position: absolute;
    
    content: "";
    
    width: 1160px;
    height: 2px;

    position: absolute;
    background-color: #eeeeee;
    top: 526px;
}

.about-left {
    width: 660px;
    padding-top: 75px;

}

.about-left b {
    display: inline-block;
    margin-bottom: 34px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-left p {
    margin: 0;
    margin-bottom: 38px;
}

.about-left .about-title,
.info caption {
    margin: 0;
    
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.about-left .about-title {
    margin-bottom: 12px;
}

.services {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services li {
    padding: 12px 35px;
    
    position: relative;
}

.services li::before {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: #fb565a;
    top: 23px;
    left: 0;
}

.about-right {
    width: 360px;
    position: relative;
}

.about-right::before {
    content: "";
    width: 360px;
    height: 208px;
    
    position: absolute;
    top: -245px;
    
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: top;
}

.info {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.info caption {
    padding-bottom: 34px;
}

.info td {
    padding: 2px 0px;
    padding-right: 40px;
    
    position: relative;
    
    font-size: 45px;
    line-height: 54px;
    font-weight: 700;
    color: #000000;    
}

.info sub {
    position: absolute;
    top: 20px;
    left: 76px;
    
    font-size: 26px;
}

.info td:last-child sub {
    position: absolute;
    top: 20px;
    left: 52px;
}

.info th {
    padding: 13px 0;
    padding-right: 15px;
    padding-bottom: 14px;
    
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.partners {
    margin-bottom: 83px;
    position: relative;
}

.partners::before {
    position: absolute;
    
    content: "";
    
    width: 1160px;
    height: 2px;

    position: absolute;
    background-color: #eeeeee;
    top: 182px;
}

.partners-list {
    min-height: 180px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.partners-list li {
    position: relative;
}

.partners-list li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 10px;
    right: -20px;
}

.partners-list a {
    width: 260px;
    height: 67px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
    outline: 0;
}

.partners-list a:active {
    opacity: 0.1;
}

.contacts {
    position: relative;
}

.contacts img {
    width: 100%;
    height: 417px;
}

.address {
    width: 220px;
    min-height: 210px;
    padding: 50px 50px;
    
    position: absolute;
    top: 55px;
    left: 30px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
}

.address b {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    align-items: flex-start;
}

.address p {
    margin-bottom: 0;
    line-height: 18px;
    color: #666666;
}

.address .phone {
    margin-bottom: 35px;
}

.address a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
    color: #666666;
}

.button-write {
    width: 220px;
}

.left-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters {
    width: 260px;
    padding-right: 20px;
}

.filters .filter-iteams {
    margin: 0;
    padding: 0;
    border: none;
}

.filters .filter-iteams:nth-child(2) {
    margin-bottom: 62px;
}

.filter-iteams legend {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.range-filter {
    width: 260px;
    margin-top: 35px;
}

.range-controls {
    position: relative;
  
    height: 41px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
  
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
  
    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 159px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
  
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 8px;
  
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #283136;
  
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters input[type="text"] {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;    
    color: #283136;
    background-color: #eeeeee;
}

.filter-input:hover + lebel,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:active + label {
    color: rgba(40,49,54,0.3); 
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    color: #283136;
}

.filters li {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filters .filter-iteams:nth-child(3) {
    margin-bottom: 33px;
}

.filters .filter-iteams:nth-child(4) {
    margin-bottom: 31px;
}

.option-radio-list label,
.option-checkbox-list label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -35px;
    top: -3px;

    width: 17px;
    height: 17px;
  
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 5px;
    left: -27px;

    width: 9px;
    height:9px;

    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
    opacity: 1;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;

    width: 18px;
    height: 18px;

    border: 2px solid #4d4d4d;
    border-radius: 3px;
    opacity: 0.4;
}


.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 0;
    left: -35px;

    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
    opacity: 1;
}

.button-filters {
    width: 260px;
    background-color: #eeeeee;
    color: #000000;
}

.button-filters:hover,
.button-filters:focus {
    background-color: #dfdfdf;
}

.button-filters:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
}

.rigth-columns {
    width: 760px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sort {
    margin-bottom: 52px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sort h2 {
    margin: 0;
    margin-right: 265px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sort-list {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    list-style: none;
    
    position: relative;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sort-list a {
    padding-right: 25px;
    display: inline-block;
    opacity: 0.3;
}

.sort-list a:hover:not(.sort-iteam-current),
.sort-list a:focus {
    opacity: 0.6;
}

.sort-list .sort-iteam-current,
.sort-list a:active {
    opacity: 1;
}

.sort-list li div {
    position: absolute;
    top: 0;
    right: 15px;
}

.sort-list .top {
    right: -15px;
}

.sort-list polygon {
    fill: rgba(9,6,6,0,0.2);
}

.sort-list a:hover:not(.sort-iteam-current) polygon,
.sort-list a:focus polygon {
    fill: rgba(9,6,6,0,1);
}

.sort-iteam-current polygon,
.sort-list a:active polygon {
    fill: #231f20;
}

.catalog-templates-list {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    list-style: none;
}

.catalog-templates-list li {
    width: 357px;
    height: 573px;
    margin-bottom: 35px;
    padding-top: 40px;
    
    position: relative;
    border: 1px solid #e5e5e5;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.catalog-templates-list li:hover {
    box-shadow: 0 5px 20px -4px #000101;
}

.catalog-templates-list li::before {
    content: "";
    width: 100%;
    height: 40px;
    
    position: absolute;
    top: 0;
    background-color: #e9e9e9;
    background-image: url(../img/browser.svg);
    background-repeat: no-repeat;
    background-position: 15px 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.catalog-templates-list li:hover::before {
    background-color: #4d4d4d;
}

.move-grey {
    display: none;
}

.catalog-templates-list li:hover .move-grey {
    width: 100%;
    min-height: 200px;
    padding-top: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    bottom: 0;
    background: #eeeeee;
}

.move-grey h3 {
    margin: 0;
    margin-bottom: 12px;
    
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.move-grey p {
    margin: 0;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.move-grey .button {
    padding-top: 18px;
    padding-bottom: 16px;
    width: 200px;
}

.pagination-list {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.pagination-item a {
    margin-right: 10px;
    padding: 16px 21px;
    
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: #eeeeee;
    color: #000000;
    text-transform: uppercase;
    border-radius: 4px;
}

.pagination-item:last-child a {
    padding-left: 75px;
    padding-right: 75px;
}

.pagination-list .pagination-item:not(.pagination-item-current) a:hover,
.pagination-list .pagination-item:not(.pagination-item-current) a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-item-current a {
    padding: 13px 18px;
    background-color: #ffffff;
    border: 3px solid #eeeeee;
}

.main-footer {
    padding-top: 62px;
    padding-bottom: 70px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-social-list {
    width: 260px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    list-style: none;
}

.social-button {
    width: 80px;
    height: 80px;
    
    margin: 0;
    padding: 0;
    
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:active path {
    fill: rgba(255,255,255,0.3);
}

.footer-rigth {
    width: 760px;
    padding-top: 6px;
}

.main-footer b {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;  
}

.main-footer p {
    margin: 0;
    color: #444444;
}

.modal-write {
    width: 960px;
    height: 590px;

 /*   display:  none; */
    position: fixed;
    bottom: 773px;
    left: 130px; 
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 20px 80px -4px #000101;
}

.modal-wriper {
    padding-top: 63px;
    padding-left: 100px;
        
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-write h2 {
    margin: 0;
    margin-bottom: 35px;
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color: #000000;    
}

.write-form label {
    margin-bottom: 6px;
}

.write-item {
    width: 760px;
    margin-bottom: 32px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.write-item div {
    width: 360px;
}

.write-form .write-item div,
.write-form .write-area {
    display: flex;
    flex-direction: column;
}

.write-area {
    margin-bottom: 53px;
}

.write-form label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

/* стилизация placeholder */
.write-form input::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form input::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form input:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form textarea::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}

.write-form input:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form input:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form input:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form textarea:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea {
    padding: 15px 15px;
    box-sizing: border-box;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
    border: 2px solid #d7dcde;
}

.write-form input[type="text"]:hover,
.write-form input[type="email"]:hover,
.write-form textarea:hover {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
    border: 2px solid #b4b9bb;
}

.write-form input[type="text"]:focus,
.write-form input[type="email"]:focus,
.write-form textarea:focus {
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #000000;
}

.button-modal-write {
    width: 260px;
}

.button-modal-close {
    width: 25px;
    height: 25px;
    
    position: absolute;
    top: 78px;
    right: 88px;
    
    border: none;
    background-color: #ffffff;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.button-modal-close:hover,
.button-modal-close:focus {
    outline: none;
    opacity: 1;
}

.button-modal-close:active {
    opacity: 0.1;
}

