body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    
    background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active {
    color: rgba(0,0,0,0.3);
}

.site-navigation-current{
    border-bottom: 2px solid #fb565a;
}

.slider {
    background-color: #eeeeee;
}

.slider-list {
    list-style: none;
}

.slider-item b{
    font-size: 55px;
    line-height: 66px;
    font-weight: 500;
    color: #000000;
}

.title-catalog {
    font-size: 55px;
    line-height: 66px;
    font-weight: 500;
    color: #000000;
}

.catalog-services-list {
    list-style: none;
}

.catalog-services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3);
}

.about-left b {
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color: #000000;
}

.about-left .about-title,
.info caption {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.services {
    list-style: none;
}

.about-right {
    background-image:url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: top;
}

.info td {
    font-size: 45px;
    line-height: 54px;
    font-weight: 700;
    color: #000000;    
}

.info th {
    line-height: 18px;
    font-weight: 400;
}

.partners-list {
    list-style: none;
}
.partners-list a {
    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
}

.partners-list a:active {
    opacity: 0.1;
}

.address {
    background-color: #ffffff;
}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.address p {
    line-height: 18px;
}

.address a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;   
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters ul {
    list-style: none;
    line-height: 20px;
    color: #283136;
}

.filters input[type="text"] {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;    
    color: #283136;
    background-color: #eeeeee;
}

.filter-input:hover + lebel,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:active + label {
    color: rgba(40,49,54,0.3); 
}

.button-filters {
    background-color: #eeeeee;
    color: #000000;
}

.button-filters:hover,
.button-filters:focus {
    background-color: #dfdfdf;
}

.button-filters:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
}

.sort h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.sort ul {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sort-list a {
    opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
    opacity: 0.6;
}

.sort-list .sort-iteam-current,
.sort-list a:active {
    opacity: 1;
}

.catalog-templates-list {
    list-style: none;
    text-align: center;
}

.catalog-templates-list h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-templates-list p {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.move-grey {
    background: #eeeeee;
}

.move-grey .button {
    color: #ffffff;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: #eeeeee;
    color: #000000;
    text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;   
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgba(0,0,0,0.3);
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}


.footer-social-list {
    list-style: none;
}

.social-button {
    width: 80px;
    height: 80px;
   /* background-color: #e1e1e1; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-vk {
    background-image: url(../img/vk-icon.svg);
}

.social-fb {
    background-image: url(../img/fb-icon.svg);
}

.social-inst {
    background-image: url(../img/insta-icon.svg);
}

.main-footer b {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #000000;  
}

.modal-write h2 {
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color: #000000;    
}

.write-form label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

/* стилизация placeholder */
.write-form input::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form input::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form input:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
}
.write-form textarea::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}
.write-form textarea:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
}

/////

.write-form input:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form input:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form input:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);    
}
.write-form textarea:focus::-webkit-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus::-moz-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}
.write-form textarea:focus:-ms-input-placeholder {
    opacity: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,1);
}

.write-form input[type="text"],
.write-form input[type="email"],
.write-form textarea {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);    
    border: 2px solid #d7dcde;
}

.write-form input[type="text"]:hover,
.write-form input[type="email"]:hover,
.write-form textarea:hover {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);
    border: 2px solid #b4b9bb;
}

.write-form input[type="text"]:focus,
.write-form input[type="email"]:focus,
.write-form textarea:focus {
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    border: 2px solid #000000;
}

.button-modal-close {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ffffff;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}

.button-modal-close:hover,
.button-modal-close:focus {
    outline: none;
    opacity: 1;
}

.button-modal-close:active {
    opacity: 0.1;
}

